<div id="header">
  <header class="e_Header" data-boundary="explore">
    <div class="e_Header__cutter">
      <div class="e_Header__inner">
        <a class="e_Header__link" href="./?2-2.-headerPanel-homeLink">
            <img
              class="e_Header__logo"
              src="http://localhost:8080/img/logo.svg"
              alt="Micro Frontends - Tractor Store"
            />
        </a>
        <div class="e_Header__navigation">
          <nav class="e_Navigation">
              <ul class="e_Navigation__list">
                  <li class="e_Navigation__item"><a id="goto-machines" href="http://localhost:8080/products">Machines</a></li>
                  <li class="e_Navigation__item"><a id="goto-stores" href="http://localhost:8080/stores">Stores</a></li>
              </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
<div id="body">
  <main class="e_HomePage" id="homepage">
      <plugin-proxy [remote]="{remoteName: 'explore/teasers', component: 'TeasersComponent'}"></plugin-proxy>
    <div>
      <plugin-proxy [remote]="{remoteName: 'explore/recommendations', component: 'RecommendationsComponent'}"></plugin-proxy>
    </div>
  </main>
</div>
<div id="footer">
    <footer class="e_Footer" data-boundary="explore">
        <div class="e_Footer__cutter">
            <div class="e_Footer__inner">
                <div class="e_Footer__initiative">
                    <!-- please leave this part untouched -->
                    <img
                      src="http://localhost:8080/img/neulandlogo.svg"
                      alt="neuland - Büro für Informatik"
                      width="45"
                      height="40"
                    />
                    <p>
                        based on
                        <a
                                href="https://micro-frontends.org/tractor-store/"
                                target="_blank"
                        >
                            the tractor store 2.0
                        </a>
                        <br />
                        a
                        <a href="https://neuland-bfi.de" target="_blank">neuland</a> project
                    </p>
                </div>

                <div class="e_Footer__credits">
                    <h3>techstack</h3>
                    <p>
                        Wicket, baseline monolith, Jetty, Maven
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>