<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<wicket:panel>
    <form
        action="/checkout/cart/add"
        method="POST"
        class="c_AddToCart"
        data-boundary="checkout">
        <input type="hidden" name="sku" value="" />
        <div class="c_AddToCart__quantity">
            <p>price</p>
            <p class="c_AddToCart__stock c_AddToCart__stock--ok">
                x in stock, free shipping
            </p>
            <p class="c_AddToCart__stock c_AddToCart__stock--empty">
                out of stock
            </p>
        </div>
        <button class="c_AddToCart__button" disabled="false" >add to basket</button>
        <div class="c_AddToCart__confirmed c_AddToCart__confirmed--hidden">
            <p>Tractor was added.</p>
            <a href="/checkout/cart" class="c_AddToCart__link">View in basket.</a>
        </div>
    </form>

</wicket:panel>
</body>
</html>